[user]
	name = Ted Cooper
	email = anthezium@gmail.com
[core]
	editor = vim
  excludesfile = ~/.gitignore_global
[push]
  default = upstream
  followTags = true
[status]
  showuntrackedfiles = no
[color]
	ui = auto
[pull]
	rebase = false
