! font and size
! xterm*faceName: DejaVU Sans Mono Book
! xterm*faceSize: 12
xterm*faceName: Terminus
xterm*faceSize: 14

! make all xterms login shells
xterm*loginshell: true

! scrollback
xterm*savelines: 163840

! double-click to select whole URLs
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126

! colors
xterm*foreground: rgb:00/ff/00
xterm*background: rgb:00/00/00

! right hand side scrollbar
xterm*rightScrollBar: true
xterm*ScrollBar: true

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

! avoid shift+PageDown blues
XTerm*ScrollTTYKeypress: true
