! font and size
! xterm*faceName: DejaVU Sans Mono Book
! xterm*faceSize: 12
!xterm*faceName: Terminus
xterm*faceName: Consolas
xterm*faceSize: 16
URxvt*font: xft:Consolas:size=22

! make all xterms and urxvts login shells
?*loginshell: true

! scrollback
?*saveLines: 640000

! double-click to select whole URLs
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126

! colors
xterm*foreground: rgb:00/ff/00
xterm*background: rgb:00/00/00
URxvt*foreground: rgb:00/00/00
URxvt*background: rgb:ff/ff/ff

! right hand side scrollbar
xterm*rightScrollBar: true
xterm*ScrollBar: true

! stop output to terminal from jumping down to bottom of scroll again
xterm*scrollTtyOutput: false

! avoid shift+PageDown blues
XTerm*ScrollTTYKeypress: true

! make xscreensaver lock by default
xscreensaver.lock: True

! open scrollback buffer in less in a new xterm when I press Ctrl + /
XTerm.vt100.printerCommand: xterm -e sh -c 'less -r <&3' 3<&0
XTerm.vt100.translations: #override Ctrl ~Meta ~Shift <Key>slash: print-everything()
